    <script src="{{root}}js/backend-config.js" defer></script>
    <script src="{{root}}js/glowe-dev-auth.js" defer></script>
    <script src="{{root}}js/backend.js" defer></script>
    <script src="{{root}}js/data.js" defer></script>
    <script src="{{root}}js/auth.js" defer></script>
    <script src="{{root}}js/glowe-events.js" defer></script>
    <script src="{{root}}js/glowe-wishes.js" defer></script>
    <script src="{{root}}js/glowe-moderation.js" defer></script>
    <script src="{{root}}js/glowe-create.js" defer></script>
    <script src="{{root}}js/glowe-messages.js" defer></script>
    <script src="{{root}}js/glowe-guest.js" defer></script>
    <script src="{{root}}js/glowe-localized-name.js" defer></script>
    <script src="{{root}}js/glowe-ui-conventions.js" defer></script>
    <script src="{{root}}js/ui/glowe-ui-shell.js" defer></script>
    <script src="{{root}}js/ui/glowe-ui-dialog.js" defer></script>
    <script src="{{root}}js/glowe-version.js" defer></script>
    <script src="{{root}}js/glowe-observability.js" defer></script>
